<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Typeform Python OAuth Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style media="screen">
      body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      #message { background: white; max-width: 720px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
      #message h2 { color: #039be5; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #message a.primary { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #message a.secondary { display: block; text-align: center; background: white; text-transform: uppercase; text-decoration: none; color: #039be5; padding: 16px; margin-top: 16px; }
    </style>
  </head>
  <body>
    <div id="message">
      <h2>Welcome {{ user.alias }}</h2>
      <h1>Here are your {{ forms|length }} forms!</h1>
      <div class="list-group">
        {% for form in forms %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ form.title }}</h5>
            <small>{{ form.last_updated_at }}</small>
          </div>
          <div class="typeform-widget" data-url="{{ form._links.display }}" style="width: 100%; height: 500px;"></div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script>
      (function () {
        var qs, js, q, s, d = document,
          gi = d.getElementById,
          ce = d.createElement,
          gt = d.getElementsByTagName,
          id = "typef_orm",
          b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
          js = ce.call(d, "script");
          js.id = id;
          js.src = b + "embed.js";
          q = gt.call(d, "script")[0];
          q.parentNode.insertBefore(js, q)
        }
      })()
    </script>
  </body>
</html>
