<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Typeform Python OAuth Example</title>

    <style media="screen">
      body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      #message { background: white; max-width: 720px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
      #message h2 { color: #039be5; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #message a.primary { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #message a.secondary { display: block; text-align: center; background: white; text-transform: uppercase; text-decoration: none; color: #039be5; padding: 16px; margin-top: 16px; }
    </style>
  </head>
  <body>
    <div id="message">
      <h2>Welcome</h2>
      <h1>Typeform Python OAuth 2.0 Example</h1>
      <p>This small demonstration application will show you how you use the use Typeform's OAuth 2.0 developer tools to view basic information about a Typeform user as well as their froms!</p>
      <a class="primary" href="{{ oauth2URL }}">Authorize Application</a>
      <a class="secondary" target="_blank" href="https://developer.typeform.com/get-started/scopes/">Learn About Typeform OAuth 2.0</a>
    </div>
  </body>
</html>
